<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Beautifier and sharing</title>
    <link rel="stylesheet" type="text/css" href="/static/css/solarized_dark.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/application.css"/>

</head>
<body>

<div class="container">
    <div id="key">
            <div id="box2">
                    <a href="/"><button title="Take new photo" class="image function button-picture enabled">New</button></a>
                    <a href="/upload/{{ image }}.zip?download" class="save function button-picture"><button title="Share this with phone users (as .docx.zip)" class="save function button-picture enabled">Save<div id="pointer" style="display: none;"></div></button></a>
            </div>
    </div>
    <div class=" hljs-title">
                <a href="/" style="text-decoration:none"><h2>Microsoft SQL Server Studio <small class="hljs-comment">code sharing</small></h2></href>
            </div>
            <img class="img-fluid" src="/upload/{{ image }}.jpg">
    </div>
</body>
</html>
